{% extends 'base.html.twig' %}

{% block title %}Hello Ex07Controller!{% endblock %}

{% block content %}
    <h1>Ex07 : insert, read, delete and update users in the database !</h1>
    {{ form_start(form, { 'action': path('ex07_insert_user'), 'method': 'POST' }) }}
        {{ form_widget(form) }}
        <button type="submit">Insérer</button>
    {{ form_end(form) }}
    <h2>Liste des utilisateurs :</h2>
    <form method="post" action="{{ path('ex07_delete_all_users') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer tous les utilisateurs ?');">
        <button type="submit">Supprimer tous les utilisateurs</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Enable</th>
                <th>Date de naissance</th>
                <th>Adresse</th>
                <th>Supprimer</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enable ? 'Oui' : 'Non' }}</td>
                    <td>{{ user.birthdate|date('Y-m-d') }}</td>
                    <td>{{ user.address }}</td>
                    <td>
                        <form method="post" action="{{ path('ex07_delete_user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        <a href="{{ path('ex07_update_user', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="8">Aucun utilisateur.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
